<div class="mt-3 ml-5">
  <p>번호 : <%= @post.id %></p>
  <p>제목 : <%= @post.title %></p>
  <p>쓴이 : <%= @post.user.username %></p>
  <p>날짜 : <%= @post.created_at %></p>
  <p>내용 : <%= @post.content %></p>
</div>
<div>
  <a class="btn btn-primary" href="/" role="button">돌아가기</a>
  <a class="btn btn-warning" href="/posts/<%= @post.id %>/edit" role="button">수정하기</a>
  <a class="btn btn-danger" href="/posts/<%= @post.id %>" data-method="delete" data-confirm="삭제 하시겠습니까?" role="button">삭제하기</a>
</div>
